fastapi
uvicorn
pydantic
transformers
tokenizers
sentencepiece
huggingface-hub
safetensors
nvidia-cudnn-cu12==9.1.0.70
nvidia-cublas-cu12==12.1.3.1
redis
elasticsearch==8.6.2
elastic-transport==8.17.1
python-magic-bin
chardet
markitdown
olefile
requests
onnxruntime-gpu==1.19.2
python-dotenv
opencc-python-reimplemented
pypinyin
jieba
psycopg2-binary
PyMuPDF
pdfplumber
paddlepaddle==2.6.2
paddleocr
opencv-python-headless
beautifulsoup4
python-docx
pypdf
fpdf2
reportlab
striprtf
python-magic
